.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contaner {
    padding: 10px;
}

body{
    font-family: "Heebo";
    background-color: beige;
    padding: 0;
    margin: 0;
}

.loginError {
    height: 45px;
    color: #ff5757;
    font-size: medium;
}

button.to_coonect {
    border: none;
    width: 100%;
    font-size: large;
    padding: 4px 20px 6px 20px;
    background-image: linear-gradient(to right,
            rgb(89, 121, 180),
            rgb(114, 208, 214));
}

.close {
    padding: 0;
    background: 0 0;
    border: 0;
    /* -webkit-appearance: none; */
    font-size: 20px;
    font-weight: 400;
}


header {
    background-color: rgb(0, 114, 122);
    color: rgb(255, 249, 216);
    display: flex;
    font-family: "Heebo";
    height: 60px;

    .user-and-login {
        flex: auto;
        display: flex;
        justify-content: flex-end;

        .login-button {
            margin: 0 2rem;
            
            a {
                text-decoration: none;
                color: rgb(255, 252, 236);
                background-color: rgb(197, 155, 101);
                font-size: large;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            height: 100%;

            a {
                color: rgb(255, 252, 236);
                text-decoration: none;
                box-sizing: border-box;
                width: 100px;
                height: 100%;
                font-size: large;
                transition: all 0.3s;
                border-bottom-style: solid;
                border-color: rgb(0, 114, 122);
                border-width: 1vh;

                &:hover {
                    background-color: rgb(119, 233, 227);
                    border-color: rgb(133, 133, 133);
                }

                &.active {
                    background-color: rgb(42, 170, 164);
                    border-bottom-style: solid;
                    border-color: rgb(133, 133, 133);
                }
            }
        }
    }


}

.childmane {
    background-color: beige;
    padding: 25px;
    .home-img {
        width: 100%;
        height: 235px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url(https://cdn.pixabay.com/photo/2018/04/05/14/09/sunflowers-3292932_1280.jpg);
        background-size: 100%;
        background-position: 50%;

        h1 {
            font-size: 4em;
            padding-right: 20px;
        }
    }

    .shou-posts {
        margin-left: 3vw;
        transition: all 1s;

        .post {
            background-color: rgb(179, 213, 230);
            height: 20vh;
            border-radius: 10px;
            margin-top: 15px;
            padding: 20px;
            transition: all 1s;
            a{
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
            }

            h1 {
                font-size: 25px;
                margin: 0;
            }
        }
    }
}
$bac-post : #c9d0eb;
.postComponet{
    width: 400px;
    padding: 20px;
    background-color: $bac-post;
    border-radius: 15px;
    border: 5px solid #719799;
    .post{
        background-color: lighten($bac-post,2);
        // border: 1px solid #719799;  
    }
    &>p{
        background-color: lighten($bac-post,2);
        // border: 1px solid #719799;  
        padding: 10px;
        span{
            display: block;
            font-size: small;
        }
    }
}
